:root {
    --background-color: #191A19;
    --dark-color: #191a19;
    --gray-color: #565958;
    --light-gray-color: #c3c9c6;
    --light-color: #d9f8eb;
    --white-color: #FFFFFF;

    --green-1: #e3fff5;
    --green-2: #96d9c0;
    --green-3: #51a687;
    --green-4: #06402b;

    --up-color: #D70015;
    --down-color:#20c997;

    --body-font-family: Verdana, sans-serif;

    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;


}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    background: var(--background-color);
    font-family: var(--body-font-family);
    position: relative;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

.font-bold-dark-color {
    font-weight: var(--font-weight-bold);
    color: var(--dark-color);
}

.font-bold-gray-color {
    font-weight: var(--font-weight-bold);
    color: var(--gray-color)
}

.gray-color {
    color: var(--gray-color);
}



h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-color);
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
}

h1,
h2 {
    font-weight: var(--font-weight-black);
}

h1 {
    font-size: 56px;
    line-height: 64px;
}

h2 {
    font-size: 48px;
    line-height: 56px;
}

h3 {
    font-size: 36px;
    line-height: 48px;
}

h4 {
    font-size: 24px;
    line-height: 36px;
}

p {
    font-size: 20px;
    line-height: 32px;
}

.small-text {
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 767px) {
    h1 {
        font-size: 36px;
        line-height: 44px;
    }

    h2 {
        font-size: 28px;
        line-height: 36px;
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
    }

    h4 {
        font-size: 20px;
        line-height: 28px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    .num {
        font-size: 32px;
        font-weight: bold;
    }
}


/* layout */
.display-flex {
    display: flex;
}


.rounded-20 {
    border-radius: 20px;
}



/* font */
.num {
    font-size: 40px;
    font-weight: bold;
    color: #191A19;
}

@media (max-width: 767px) {
    .num {
        font-size: 32px;
        font-weight: bold;
    }
}



/* ------------------ */

/* 手機樣式 */
@media (max-width: 767px) {}

/* 平板直立樣式 */
@media (min-width: 768px) and (max-width: 1199px) {}

/* 筆電樣式 */
@media (min-width: 1200px) and (max-width: 1439px) {}

/* 桌機樣式 */
@media (min-width: 1440px) {}

/* ------------------ */